header{
	.thay-pin-danh-bong-dong-ho{
		background-color: #d1a02f;
		padding:5px 10px;
		.rana{
			text-align: center;
			color: #fff;
			font-family: $f_regular;
			text-transform: uppercase;
			font-size: 13px;
			@media(max-width: 992px){
				display: none;
			}
		}
		.gio-hang{
			position: absolute;
			right: 45px;
			top: 0;
			@media(max-width: 992px){
				position: relative;
				right: 0;
				width: 115px;
				margin:auto;
			}
			a{
				color :#fff;
				font-family: $f_regular;
				.cart-number{
					background-color: #fff;
					color: $mau;
					padding: 4px 9px;
					border-radius: 12px;
				}
			}
		}
		.kinh-lup{
			position: absolute;
			right: 0;
			top: 0;
			a{
				color : #fff;
			}
		}
	}
	.menu-bg{
		background-color: #111;
		border-bottom: 2px solid $mau_1;
		@media(max-width: 992px){
			display: none;
		}
		.logo{
			width: 60px;
			height: 60px;
			position: absolute;
			top:15px;
			left: 50%;
			margin-left: -30px;
		}
	}
	.mobile-navbar{
		display: none;
		@media(max-width: 992px){
			display: block;
		}
		.mobile-menu{
			list-style: none;
			padding: 0 22px;
			li{
				a{
					color: $mau_1;
					display: block;
					padding: 5px 0px;
				}
			}
		}
	}
}
.banner-box{
	.owl-carousel-banner{
		.owl-dots {
			position: absolute;
			bottom: 20px;
			left: 0;
			width: 100%;
			.owl-dot{
				span{
					width: 17px;
					height: 7px;
				}
				&:hover{
					span{
						background: $mau_1;
					}
				}
			}
			.owl-dot.active{
				span{
					background: $mau_1;
				}
			}
		}
	}
}
.box-doi-tac{
	margin-top: 30px;
	border-bottom: 1px solid $mau_1;
	padding-bottom: 10px;
	.owl-carousel-brand{
		.owl-prev {
			position: absolute;
			left: -70px;
			top: 10px;
			color: $mau_1;
			background: transparent;
			border-radius: 0;
			padding: 0px 10px;
			font-size: 30px;
			@media(max-width: 1024px){
				left: -45px;
				top:5px;
			}
			@media(max-width: 992px){
				left: -50px;
			}
			@media(max-width: 740px){
				left: -65px;
			}
			&:hover{
				background:transparent;
				color: $mau_1;
			}
		}
		.owl-next {
			position: absolute;
			right: -70px;
			top: 10px;
			color: $mau_1;
			background: transparent;
			border-radius: 0;
			padding: 0px 10px;
			font-size: 30px;
			@media(max-width: 1024px){
				right: -45px;
				top:5px;
			}
			@media(max-width: 992px){
				right: -50px;
			}
			@media(max-width: 740px){
				right: -65px;
			}
			&:hover{
				background:transparent;
				color: $mau_1;
			}
		}
	}
}
.khuyen-mai-box{
	margin-top: 30px;
	.tai-sao-nen-mua{
		margin-top: 30px;
		.tai-sao-nen-mua-text{
			text-align: center;
			text-transform: uppercase;
			font-size: 25px;
			@media(max-width: 320px){
				font-size: 20px;
			}
			@media(max-width: 240px){
				font-size: 15px;
			}
		}
		.tai-sao-nen-mua-h{
			text-align: center;
			text-transform: uppercase;
			font-size: 25px;
			font-family: $f_bold;
			margin-top: 10px;
			color: #000;
			&:after{
				height: 2px;
				width: 150px;
				background:$mau_1;
				content: "";
				display: block;
				margin: 10px auto 0 auto;
			}
		}
	}
	.box-ads-banner{
		margin-top: 15px;
		.box-ads-item{
			float: left;
			width: 49%;
			margin-top: 5px;
			@media(max-width: 240px){
				width: 100%;
			}
			&:first-child{
				margin-right: 5px;
				@media(max-width: 240px){
					margin-right: 0px;
				}
			}
			&:nth-child(3){
				margin-right: 5px;
				@media(max-width: 240px){
					margin-right: 0px;
				}
			}
			a{
				display: block;
				overflow: hidden;
				position: relative;
				.panel-top-to-bottom{
					position: absolute;
					top: -100%;
					left: 0;
					width: 100%;
					height: 100%;
					background: #000;
					opacity:0.1;
					@include p-web(transition,all 0.5s);
				}
				.panel-bottom-to-top{
					position: absolute;
					bottom: -100%;
					left: 0;
					width: 100%;
					height: 100%;
					background: #000;
					opacity:0.1;
					@include p-web(transition,all 0.5s);
				}
				.panel-link{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					opacity:0;
					@include p-web(transition,all 0.5s);
					.panel-circle{
						background: #fff;
						color: #000;
						padding: 10px 14px;
						border-radius: 20px;
					}
				}
				&:hover{
					.panel-top-to-bottom{
						top: 0;
					}
					.panel-bottom-to-top{
						bottom: 0;
					}
					.panel-link{
						opacity:0.8;
					}
				}
			}
		}
	}
	.owl-carousel-sale-off-on-day{
		margin-top: 45px;
		margin-bottom: 45px;
		.sale-off-on-day-box-item{
			.sale-off-box-hinh-tron{
				border:1px solid $mau_1;
				border-radius: 116px;
				padding:40px;
				position:relative;
				@media(max-width: 375px){
					border-radius: 172px;
					padding: 60px;
				}
				.sale-off-box{
					position: absolute;
					bottom: 10px;
					right: 0px;
					background-color: $mau_1;
					padding: 12px;
					border-radius: 31px;
					@media(max-width: 1024px){
						padding:8px;
					}
					@media(max-width: 375px){
						right: 40px;
					}
					@media(max-width: 320px){
						bottom: 0px;
						right: 35px;
					}
					@media(max-width: 240px){
						bottom: -4px;
						right: 18px;
					}
					.sale-off-txt{
						color: #fff;
						text-align: center;
						font-size: 12px;
					}
					.sale-off-number{
						color: #fff;
						text-align: center;
						font-family: $f_bold;
					}
				}
			}
			.sale-off-on-day-title{
				text-align: center;
				line-height: 20px;
				margin-top: 10px;
				border-bottom: 1px solid $mau_1;
				padding-bottom: 10px;
				a{
					font-size: 14px;
					color: $mau;
					font-family: $f_bold;
				}
			}
			.sale-off-on-day-price{
				text-align: center;
				margin-top: 10px;
				.sale-off-on-day-sale-price{
					font-family: $f_bold;
					color: $mau_1;
					font-size: 17px;
				}
				.sale-off-on-day-sale-original-price{
					font-size: 12px;
					text-decoration: line-through;
					margin-left: 5px;
				}
			}
		}
	}
}
.khuyen-mai-theo-ngay{
	font-family: $f_bold;
	text-transform: uppercase;
	font-size:30px;
	text-align: center;
	@media(max-width: 375px){
		font-size: 25px;
	}
	@media(max-width: 320px){
		font-size: 20px;
	}
	@media(max-width: 240px){
		font-size: 17px;
	}
	&:after{
		height: 2px;
		width: 150px;
		background:$mau_1;
		content: "";
		display: block;
		margin: 10px auto 0 auto;
	}
}
.renu-gowatch{
	background-image: url('../images/bg.png');
	padding-top: 30px;
	margin-top: 30px;
	.hon-mot-trieu-nguoi-tin-dung{
		font-size: 25px;
		text-transform: uppercase;
		color: #000;
		font-family: $f_bold;
		text-align: center;
		@media(max-width: 375px){
			font-size: 20px;
		}
		@media(max-width: 240px){
			font-size: 15px;
		}
	}
	.chung-toi-cam-ket{
		font-size: 20px;
		color: #000;
		text-align: center;
		margin-top: 15px;
		@media(max-width: 992px){
			font-size: 18px;
		}
		@media(max-width: 240px){
			font-size: 14px;
		}
	}
	.box-slogan{
		margin-top: 50px;
		.box-item-slogan{
			margin-bottom: 30px;
			.box-item-sl-img{
				float: left;
				width: 22%;
			}
			.box-item-sl-info{
				float: left;
				width: 75%;
				margin-left: 10px;
				.box-item-sl-title{
					font-size: 15px;
					font-family: $f_bold;
					text-transform: uppercase;
				}
				.box-item-sl-excerpt{
					text-align: justify;
					margin-top: 10px;
				}
			}
		}
	}
}
.box-san-pham-ban-chay{
	margin-top: 50px;
	margin-bottom: 50px;
	.spbc-title{
		font-family: $f_bold;
		text-transform: uppercase;
		font-size:30px;
		text-align: center;
		@media(max-width: 375px){
			font-size: 25px;
		}
		@media(max-width: 320px){
			font-size: 20px;
		}
		@media(max-width: 240px){
			font-size: 17px;
		}
		&:after{
			height: 2px;
			width: 150px;
			background:$mau_1;
			content: "";
			display: block;
			margin: 10px auto 0 auto;
		}
	}
	.owl-carousel-spbc{
		margin-top: 30px;
		.owl-dots {
			position: absolute;
			bottom: 20px;
			left: 0;
			width: 100%;
			.owl-dot{
				span{
					width: 17px;
					height: 7px;
				}
				&:hover{
					span{
						background: $mau_1;
					}
				}
			}
			.owl-dot.active{
				span{
					background: $mau_1;
				}
			}
		}
		.sale-off-on-day-box-item{
			margin-bottom: 50px;
			.sale-off-box-hinh-tron{
				border:1px solid $mau_1;
				border-radius: 127px;
				padding:40px;
				position:relative;
				@media(max-width: 740px){
					border-radius: 255px;
					padding: 75px;
				}
				@media(max-width: 375px){
					border-radius: 172px;
					padding: 60px;
				}
				.sale-off-box{
					position: absolute;
					bottom: 10px;
					right: 0px;
					background-color: $mau_1;
					padding: 12px;
					border-radius: 31px;
					@media(max-width: 1024px){
						padding:8px;
					}
					@media(max-width: 992px){
						bottom: 0px;
						right: 0px;
					}
					@media(max-width: 740px){
						bottom: 20px;
						right: 80px;
					}
					@media(max-width: 576px){
						bottom: 20px;
						right: 45px;
					}
					@media(max-width: 375px){
						right: 30px;
					}
					@media(max-width: 320px){
						bottom: 0px;
						right: 35px;
					}
					@media(max-width: 240px){
						bottom: -4px;
						right: 18px;
					}
					.sale-off-txt{
						color: #fff;
						text-align: center;
						font-size: 12px;
					}
					.sale-off-number{
						color: #fff;
						text-align: center;
						font-family: $f_bold;
					}
				}
			}
			.sale-off-on-day-title{
				text-align: center;
				line-height: 20px;
				margin-top: 10px;
				border-bottom: 1px solid $mau_1;
				padding-bottom: 10px;
				a{
					font-size: 14px;
					color: $mau;
					font-family: $f_bold;
				}
			}
			.sale-off-on-day-price{
				text-align: center;
				margin-top: 10px;
				.sale-off-on-day-sale-price{
					font-family: $f_bold;
					color: $mau_1;
					font-size: 17px;
				}
				.sale-off-on-day-sale-original-price{
					font-size: 12px;
					text-decoration: line-through;
					margin-left: 5px;
				}
			}
		}
	}
	.box-featured-news{
		margin-top: 30px;
	}
}
.box-item-news{
	@media(max-width: 740px){
		margin-bottom: 40px;
	}
	.box-item-news-title{
		line-height: 20px;
		margin-top: 10px;
		a{
			font-size: 15px;
			margin-top: 10px;
			font-family: $f_bold;
			color: $mau;
			&:hover{
				color: $mau_1;
			}
		}
	}
	.box-item-news-excerpt{
		margin-top: 10px;
		text-align: justify;
	}
}
.news-readmore{
	text-align: center;
	margin-top: 30px;
	a{
		color: $mau_1;
		padding:5px 20px;
		text-transform: uppercase;
		position: relative;
		overflow: hidden;
		z-index: 1;
		display: inline-block;
		border:2px solid $mau_1;
		font-family: $f_bold;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 100%;
			width: 100%;
			height: 100%;
			background:$mau_1;
			z-index: -1;
			@include p-web(transition, all 0.5s);
		}
		&:hover{
			&:before{
				left: 0;
			}
			color: #fff;
		}
	}
}
.box-item-news-img{
	a{
		display: block;
		overflow: hidden;
		position: relative;
		.panel-top-to-bottom{
			position: absolute;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000;
			opacity:0.1;
			@include p-web(transition,all 0.5s);
		}
		.panel-bottom-to-top{
			position: absolute;
			bottom: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000;
			opacity:0.1;
			@include p-web(transition,all 0.5s);
		}
		.panel-link{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			opacity:0;
			@include p-web(transition,all 0.5s);
			.panel-circle{
				background: #fff;
				color: #000;
				padding: 10px 14px;
				border-radius: 20px;
			}
		}
		&:hover{
			.panel-top-to-bottom{
				top: 0;
			}
			.panel-bottom-to-top{
				bottom: 0;
			}
			.panel-link{
				opacity:0.8;
			}
		}
	}
}
.content-bottom{
	background: #f1f1f1;
	padding: 40px 0;
	.ryse-of-rome{
		width: 700px;
		margin:0 auto;
		@media(max-width: 740px){
			width:100%;
		}
		.owl-carousel-customer{
			.owl-prev {
				position: absolute;
				left: -70px;
				top: 70px;
				color: $mau_1;
				background: transparent;
				border-radius: 0;
				padding: 0px 10px;
				font-size: 30px;
				@media(max-width: 1024px){
					left: -70px;
					top: 65px;
				}
				@media(max-width: 992px){
					left: -65px;
				}
				@media(max-width: 740px){
					top: 75px;
				}
				&:hover{
					background:transparent;
					color: $mau_1;
				}
			}
			.owl-next {
				position: absolute;
				right: -70px;
				top: 70px;
				color: $mau_1;
				background: transparent;
				border-radius: 0;
				padding: 0px 10px;
				font-size: 30px;
				@media(max-width: 1024px){
					right: -70px;
					top: 65px;
				}
				@media(max-width: 992px){
					right: -65px;
				}
				@media(max-width: 740px){
					top: 75px;
				}
				&:hover{
					background:transparent;
					color: $mau_1;
				}
			}
			.box-customer{
				.box-customer-img{
					a{
						display: block;
						padding:10px;
						border-radius: 106px;
						border: 1px solid $mau_1;
						@media(max-width: 320px){
							border-radius: 145px;
						}
						img{
							border-radius: 102px;
							@media(max-width: 320px){
								border-radius: 135px;
							}
						}
					}
				}
				.box-customer-title{
					text-transform: uppercase;
					font-family: $f_bold;
					font-size: 15px;
					text-align: center;
					margin-top: 20px;
				}
				.box-customer-excerpt{
					text-align: center;
					margin-top: 10px;
				}
			}
		}
	}
}
footer{
	background: #111;
	padding:50px 0;
	.box-logo{
		text-align: center;
		a{
			@media(max-width: 1024px){
				display: inline-block;
				width: 20%;
			}
		}
	}
	.dang-ky-thong-tin-moi-tu-go-watch{
		color: $mau_1;
		text-transform: uppercase;
		font-family: $f_bold;
		margin-top: 10px;
		font-size: 8px;
		@media(max-width: 1024px){
			font-size: 14px;
		}
		@media(max-width: 240px){
			font-size: 11px;
		}
	}
	.dang-ky-ngay-box{
		position: relative;
		width: 100%;
		margin-top: 10px;
		@media(max-width: 1024px){
			width: 28%;
		}
		@media(max-width: 992px){
			width: 40%;
		}
		@media(max-width: 740px){
			width: 50%;
		}
		@media(max-width: 576px){
			width:70%;
		}
		@media(max-width: 375px){
			width:80%;
		}
		@media(max-width: 320px){
			width:90%;
		}
		@media(max-width: 240px){
			width:100%;
		}
		.dang-ky-ngay-txt{
			width:66%;
			@media(max-width: 1024px){
				width:79%;
			}
			@media(max-width: 240px){
				width:74%;
			}
			input{
				background: #444444;
				border: 0;
				outline: 0;
				padding: 7px 10px;
				color: #fff;
				width: 100%;
			}
		}
		.dang-ky-ngay-btn{
			position: absolute;
			right: 0;
			top: 0;
			a{
				display: block;
				color: $mau_1;
				padding: 8px 15px;
				text-transform: uppercase;
				background: #444444;
				font-size: 13px;
				font-family: $f_bold;
				z-index: 9999;
			}
		}
		.ajax-box{
			position: absolute;
			right: -20px;
			top: -5px;
		}
	}
	.footer-menu-group{
		margin-top:35px;
		.footer-menu-box{
			float: left;
			&:nth-child(2),&:nth-child(3),&:nth-child(4){
				margin-left: 20px;
				@media(max-width: 1024px){
					margin-left: 110px;
				}
				@media(max-width: 992px){
					margin-left: 30px;
				}
				@media(max-width: 740px){
					margin-left: 30px;
				}
				@media(max-width: 740px){
					margin-left: 0;
					margin-top: 20px;
				}
			}
			@media(max-width: 740px){
				float: none;
			}
			.footer-menu-h{
				font-family: $f_bold;
				color: $mau_1;
				font-size: 15px;
				text-transform: uppercase;
				border-bottom: 1px solid $mau_1;
				padding-bottom: 10px;
			}
			.box-tu-van-mua-hang{
				color: #fff;
				margin-top: 20px;
				.box-tvmh-item{
					margin-bottom: 8px;
				}
			}
			.footer-menu-ul{
				padding-left: 0;
				margin-top: 15px;
				margin-bottom: 0;
				list-style: none;
				li{
					padding: 5px 0;
					a{
						color: #ffffff;
						display: block;
						font-size: 13px;
						font-family: $f_light;
						.cevron-right{
							font-size: 10px;
							margin-right: 10px;
						}
					}
				}
			}
			.iconsocialbg{
				list-style: none;
				padding-left: 0;
				margin-bottom: 0;
				margin-top: 10px;
				li{
					display: inline-block;
					a{
						background: #fff;
						display: block;
						text-align: center;
						color: $mau;
						@media(max-width: 1024px){
							margin-top: 5px;
						}
						&:hover{
							background:$mau_1;
						}
					}
					&:nth-child(1){
						a{
							padding: 6px 13px;
							border-radius: 16px
						}
					}
					&:nth-child(2){
						margin-left: 5px;
						a{
							padding: 6px 9px;
							border-radius: 16px
						}
					}
					&:nth-child(3){
						margin-left: 5px;
						a{
							padding: 6px 11px;
							border-radius: 22px;
						}
					}
				}
			}
			.box-bo-cong-thuong{
				margin-top:20px;
			}
		}
	}
	.box-copyright{
		margin-top: 40px;
		text-align: center;
		.box-blog-info{
			color: #a2a2a2;
			font-size: 12px;
		}
		.box-copy-right-address{
			margin-top: 5px;
			.box-cpr-address-txt{
				color: #a2a2a2;
				font-size: 12px;
			}
			.box-cpr-address-bold{
				color: #a2a2a2;
				font-size: 12px;
				font-family: $f_bold;
			}
			.box-cpr-link{
				a{
					font-size: 12px;
					font-family: $f_bold;
				}
			}
		}
	}
}
.box-breadcrumb{
	background: #111;
	.breadcrumbs{
		text-align: center;
		padding: 10px 0px;
		color: $mau_1;
	}
}
.box-category{
	margin-top:50px;
	.category-box{
		.category-pagination{
			text-align: center;
			margin:20px 0;
		}
		.box-news-list{
			padding-top: 40px;
			.box-news-item{
				.box-news-item-1{
					width: 50%;
					float: left
				}
				.box-news-item-2{
					width: 50%;
					float: left;
					padding: 30px;
					.box-news-information{
						.box-news-information-title{
							a{
								font-size: 20px;
								text-transform: uppercase;
								font-family: $f_bold;
								color: $mau;
								&:hover{
									color: $mau_1;
								}
							}
						}
						.box-news-information-excerpt{
							text-align: justify;
							margin-top: 10px;
						}
						.box-news-information-date-post{
							color: #b5b5b5;
							margin-top: 10px;
						}
					}
				}
			}
		}
	}
}
.news-readmore2{
	a{
		color: $mau_1;
		padding:5px 20px;
		text-transform: uppercase;
		position: relative;
		overflow: hidden;
		z-index: 1;
		display: inline-block;
		border:2px solid $mau_1;
		font-family: $f_bold;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 100%;
			width: 100%;
			height: 100%;
			background:$mau_1;
			z-index: -1;
			@include p-web(transition, all 0.5s);
		}
		&:hover{
			&:before{
				left: 0;
			}
			color: #fff;
		}
	}
}
.single-post-taka{
	margin-bottom: 20px;
	.box-single{
		margin-top: 40px;
		.post-title{
			font-size: 30px;
			font-family: $f_bold;
		}
		.post-date-post{
			margin-top: 10px;
			text-align: right;
		}
		.post-excerpt{
			margin-top: 10px;
			font-family: $f_bold;
			text-align: justify;
		}
		.post-content{
			margin-top: 20px;
			text-align: justify;
		}
	}
	.box-news-related{
		margin-top: 40px;
		.box-ba-pr{
			margin-bottom: 40px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}
.lh-voi-chung-toi{
	text-transform: uppercase;
	font-size: 15px;
	margin-top: 40px;
	font-family: $f_bold;
	color: $mau_1;
}
.frm-contact{
	margin-top: 30px;
	.ck-contact{
		margin-top: 5px;
		input{
			border:1px solid #cacaca;
			border-radius:0;
			outline: 0;
		}
		textarea{
			border:1px solid #cacaca;
			border-radius:0;
			outline: 0;
		}
	}
	.ck-submit{
		margin-top: 10px;
		a{
			color: $mau_1;
			padding:5px 20px;
			text-transform: uppercase;
			position: relative;
			overflow: hidden;
			z-index: 1;
			float: left;
			border:2px solid $mau_1;
			font-family: $f_bold;
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 100%;
				width: 100%;
				height: 100%;
				background:$mau_1;
				z-index: -1;
				@include p-web(transition, all 0.5s);
			}
			&:hover{
				&:before{
					left: 0;
				}
				color: #fff;
			}
		}
	}
}
.logo-contact{
	margin-top: 40px;
	width: 85px;
}
.contact-intro{
	text-align: justify;
	margin-top: 10px;
}
.contact-info{
	.icon-fontawesome{
		color: $mau_1;
	}
}
.box-category-product{
	margin-top: 50px;
}