header{
	.thay-pin-danh-bong-dong-ho{
		background-color: #d1a02f;
		padding:5px 10px;
		.rana{
			text-align: center;
			color: #fff;
			font-family: $f_regular;
			text-transform: uppercase;
			font-size: 13px;
			@media(max-width: 992px){
				display: none;
			}
		}
		.gio-hang{
			position: absolute;
			right: 45px;
			top: 0;
			@media(max-width: 992px){
				position: relative;
				right: 0;
				width: 115px;
				margin:auto;
			}
			a{
				color :#fff;
				font-family: $f_regular;
				.cart-number{
					background-color: #fff;
					color: $mau;
					padding: 4px 9px;
					border-radius: 12px;
				}
			}
		}
		.kinh-lup{
			position: absolute;
			right: 0;
			top: 0;
			a{
				color : #fff;
			}
		}
	}
	.menu-bg{
		background-color: #111;
		border-bottom: 2px solid $mau_1;
		@media(max-width: 992px){
			display: none;
		}
		.logo{
			width: 60px;
			height: 60px;
			position: absolute;
			top:15px;
			left: 50%;
			margin-left: -30px;
		}
	}
	.mobile-navbar{
		display: none;
		@media(max-width: 992px){
			display: block;
		}
		.mobile-menu{
			list-style: none;
			padding: 0 22px;
			li{
				a{
					color: $mau_1;
					display: block;
					padding: 5px 0px;
				}
			}
		}
	}
}
.banner-box{
	.owl-carousel-banner{
		.owl-dots {
			position: absolute;
			bottom: 20px;
			left: 0;
			width: 100%;
			.owl-dot{
				span{
					width: 17px;
					height: 7px;
				}
				&:hover{
					span{
						background: $mau_1;
					}
				}
			}
			.owl-dot.active{
				span{
					background: $mau_1;
				}
			}
		}
	}
}
.box-doi-tac{
	margin-top: 30px;
	.owl-carousel-brand{
		.owl-prev {
			position: absolute;
			left: -70px;
			top: 10px;
			color: $mau_1;
			background: transparent;
			border-radius: 0;
			padding: 0px 10px;
			font-size: 30px;
			@media(max-width: 1024px){
				left: -45px;
				top:5px;
			}
			@media(max-width: 992px){
				left: -50px;
			}
			@media(max-width: 740px){
				left: -65px;
			}
			&:hover{
				background:transparent;
				color: $mau_1;
			}
		}
		.owl-next {
			position: absolute;
			right: -70px;
			top: 10px;
			color: $mau_1;
			background: transparent;
			border-radius: 0;
			padding: 0px 10px;
			font-size: 30px;
			@media(max-width: 1024px){
				right: -45px;
				top:5px;
			}
			@media(max-width: 992px){
				right: -50px;
			}
			@media(max-width: 740px){
				right: -65px;
			}
			&:hover{
				background:transparent;
				color: $mau_1;
			}
		}
	}
}