.tab {
 overflow: hidden;
 border-bottom: 1px solid #aaaaaa;
 background: transparent;
 button {
   float: left;
   border: none;
   outline: none;
   cursor: pointer;
   padding:8px 10px;
   transition: 0.3s;
   text-transform: uppercase;
   font-weight: bold;
   background: transparent;
   margin-right: 45px;
   font-size: 16px;
   color: #d54d4d;
   &:hover{
    background: transparent;
  }
  &.active{
   background-color: transparent;
   color: #000000;
   border-bottom: 3px solid #aaaaaa;
 }
}
}
.tabcontent {
  display: none;
  padding: 6px 0px;
  border: 0px solid #ccc;
  border-top: none;
}